<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Three.js visualiser</title>
        <link rel="stylesheet" href="../assets/css/_base.css">
        <link rel="stylesheet" href="../assets/css/_fonts.css">
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
            <header>
  
                    <div class="container">
                      <h1>
                        <a href="../index.html">
                        <img src="../assets/images/wavelogo.svg">
                        </a>
                      </h1>
                      <nav>
                        <a href="https://github.com/soheimam">
                      Github
                      </a>
                        <a href="search.html">
                      About
                      </a>
                      </nav>
                    </div>
                  </header>

            <div>
                    <button id="play">play</button>
                </div>
        
        <script type="text/javascript" src="../assets/javascript/three.js"></script>
        <script type="text/javascript" src="../assets/javascript/OrbitControls.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/josephg/noisejs/master/perlin.js"></script>
        <script type="text/javascript" src="../assets/javascript/3d.js"></script>
      
    </body>
</html>